package {{.PackageName}}

import (
	"github.com/gofiber/fiber/v2"
	support "github.com/refiber/framework/support"
)

func ({{.PackageName}} *{{.PackageName}}Controller) {{.MethodName}}() *{{.ModelName}} {
	return &{{.ModelName}}{*{{.PackageName}}}
}

type {{.ModelName}} struct{ {{.PackageName}}Controller }

func ({{.ReciverName}} *{{.ModelName}}) Index(s support.Refiber, c *fiber.ctx) error {
	return c.SendString("TODO")
}
